extends layout

block content
    h1= "Система доступа к данным спектрометров OBLF."
    img(src="/images/Slider_Entwurf02.jpg")
    p
        a(href="/measurements")="Спекрометр 1 измерения"
    p
        a(href="#")="Спекрометр 2"

    p #{title}

